doctype html
html
	head
		link(rel='stylesheet', href='/styles/style.css')
	body
		
			p(class='quote') &quot;I will never lose any game of skill. It will always be lag.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I am the ultimate predator&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Alright Davis, I have two bullets. One for me and one for you.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I just coughed up blood. Oh wait that's Cheetos.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm on, just let me slap a on a piece of meat first.&quot; 
			p(class='author') -Frank 2016
			p(class='quote') &quot;I want Frank now&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm not a good support&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Get fucked&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;I'm freakin cheap as shit.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I hate everyone&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;Lucky Charms is just pussy cereal&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I thought Mel was good&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;You gotta take the dick and you gotta shove it up the ass.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;My dick is so hard&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;good luck&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;Frank and Mel remind me on a daily basis how good it is to not be single&quot;
			p(class='author') -Machete 2016
			p(class='quote') &quot;Fuck that bitch&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;I founded a culture&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;Do what Ryan tells you. Don't try to do anything by yourself.&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;I'm getting memelords to follow me on Twitter&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Ten hours a week is about the amount of time I spend fapping&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Zack's like a big oompa-loompa&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Can you guys suck my dick?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;All you gotta do is kill ISIS&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;No, I see them crossbowmens&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I am the defender in a war. Every time.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I got dead.&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;W O W ,  F U C K  A L L  O F  T H E S E  K I D S,  M A N!&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Condoms aren't that great, imo&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;I'm only 52 but I'm not bad&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Nothing's wrong you're just unpatient.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Where's the sex?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;You have people like Addison, Pablo, and Gary that want to fuck up your life.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Nigga you gotta stop it&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;A lot of brazilians are black, why do you think it’s a poor country?&quot; 
			p(class='author') -Ray 2016
			p(class='quote') &quot;Maybe I should stop posting porn&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I made a Twitter today. Because I wanted to be salty at No Man's Sky developers&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;Get this guy! He's in my booty! Get this guy, Pablo!&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;My dick was in the point. Frickin' balls deep.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Either Frank or Ryan will be in a porno someday&quot; 
			p(class='author') -Zack 2016
			p(class='quote') &quot;Your weeaboo meme shit won't work&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I win 10 games out of every 1&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Stupidest fucking shit.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;stop link ur hentai&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I would like to see porn banned&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;we are all japanese cat girls now&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;I can take it up the ass, but I can also be pregnant.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I am against men in porn&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Ryan, you know all of our bodies better than we know our own&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;Summer is the stronger of the two months.&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;I accidentally had twins. How the fuck did that happen?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Meet someone new? That's hard. What the fuck?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;She has so much cleavage, always walking in front of my house like she wants to fuck me.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Did she just hug me!? OH MY GOD SHE JUST HUGGED ME!&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Fucking bitch not even giving me satisfaction.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I hate white screens&quot;
			p(class='author') -Machete 2016
			p(class='quote') &quot;Ryan, why do you get your dick hard for copypasta?&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;Technically, technically, technically, the support gets carried&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Nothing matters when you're Mario&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm sorry he fucked in the ass so hard that his asshole won't close normally.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;When I defeat people, they become happy&quot;
			p(class='author') -Ryan 2016
			p(class='quote') &quot;I am a black people&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;I am always the slowest&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Some people like buttsex, but I can still judge them soundly.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;I'm trying to be a cool admin&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;You just gotta hope for lucky RNG in the wind&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;i dont wanna play ranked with frnak&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;If I go to sleep I won't be able to look at loli porn&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Did I ever tell you guys about the time I drove up a telephone pole?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I didn't realize that you couldn't turn in the air like you can in video games.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;They talk about how great the white man is, but here they are watching Japanese cartoons.&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;I don't even know why I revived you. It's like reviving a retarded monkey.&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;It means we're going to shove it up his oober-doobler.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;It doesn't matter. I can use my sheer body mass to destroy individuals.&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;Farmers know how nuclear fusion works. It's common knowledge&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;Take all of my resources&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Addison abused my trust in him. That is the original abuse&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;I don't like social interactions&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;i hope garry reaches some enlightening life lesson where he admits he was wrong&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;Anyone that says they are the best, aren't&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm racist&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm going to buy beer for underaged kids.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Mexico is kind of a fucktown.&quot; 
			p(class='author') -Ray 2016
			p(class='quote') &quot;Every movie ever should be a sausage fest&quot; 
			p(class='author') -Ryan 2016
			p(class='quote') &quot;I am a leader, just nobody would follow me.&quot; 
			p(class='author') -Frank 2016
			p(class='quote') &quot;Is she flat in that chest?&quot; 
			p(class='author') -Ray 2016
			p(class='quote') &quot;Ryan is literally ruining my life&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;I'm about to bitch slap you.&quot; 
			p(class='author') -Pablo 2016
			p(class='quote') &quot;Valhalla awaits, my niggers.&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;I don't love you Frank. I never have and I never will.&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;iRobot was great. Shut your ass&quot; 
			p(class='author') -Frank 2016
			p(class='quote') &quot;How do you do the fuck that?&quot; 
			p(class='author') -Frank 2016
			p(class='quote') &quot;Man, I'm so bad at this game.&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;Reinhardt is old but he's sexy.&quot; 
			p(class='author') -Nick 2016
			p(class='quote') &quot;My debit card was in my wallet the whole time&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;Furry porn is better than normal porn, generally.&quot; 
			p(class='author') -Machete 2016
			p(class='quote') &quot;I dont hate Frank, I love Frank. I love to Frank all the time&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;gob bles walmart&quot; 
			p(class='author') -Davis 2016
			p(class='quote') &quot;35&quot; 
			p(class='author') -William 2011
			p(class='quote') &quot;I'm already fit&quot; 
			p(class='author') -Elijah 2016
			p(class='quote') &quot;I met this black guy and holy shit, he was really black.&quot; 
			p(class='author') -Ray 2016
			p(class='quote') &quot;Hey, you gotta get that nigga out of my face.&quot; 
			p(class='author') -Pablo 2016
			p(class='quote') &quot;Don't right-click it you dumb mother fucker.&quot; 
			p(class='author') -Pablo 2016
			p(class='quote') “Jakkob and I want to be alone.&quot; 
			p(class='author') -Pablo 2016
			p(class='quote') &quot;Frank stands for F Rank&quot; 
			p(class='author') -Machete 2016
			p(class='quote') &quot;The longer you live the more likely you are to get cancer.&quot; 
			p(class='author') -Zack 2016
			p(class='quote') &quot;I am The Killer of Jokes&quot; 
			p(class='author') -Elijah 2016
			p(class='quote') &quot;She's the funniest because she lets you put it in her butt.&quot; 
			p(class='author') -Frank 2016
			p(class='quote') &quot;i like the class that sits there and wards and waits to be carried to diamond&quot; 
			p(class='author') -Pablo 2016
			p(class='quote') &quot;these things strike fear into the heart of the nigger&quot; 
			p(class='author') -Davis 2016
			p(class='quote') &quot;nixon best persident&quot; 
			p(class='author') -Ray 2016
			p(class='quote') &quot;in the name of white jesus use a computer nigger&quot; 
			p(class='author') -Davis 2016
			p(class='quote') &quot;I drew this loli sexy princess&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;You marry your sisters, it's better&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;Since when is Bulbasaur Grass and Poison?&quot; 
			p(class='author') -Addison 2016
			p(class='quote') &quot;squirrel gliding thing&quot; 
			p(class='author') -William 2016
			p(class='quote') “let’s code in braille” 
			p(class='author') -Elijah 2016
			p(class='quote') “ryan you make my butt clench” 
			p(class='author') -William 2016
			p(class='quote') &quot;I like my straight furry porn as much as the next guy, but why you gotta post it on Skype, man?&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;I'm gonna go fuck all of these kids&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;i lean towards women, but sex is secondary to my life ambitions&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;What you mean 'Muscle car,' you mean like fucking clams?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I identify as a stool.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;When I wake up from a nap, I jerk off. I usually do that before a nap as well.&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;I like anime pornography&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;Yes, I do love stones&quot; 
			p(class='author') -Addison 2016
			p(class='quote') &quot;It's best to marry your sister&quot; 
			p(class='author') -William 2016
			p(class='quote') &quot;Alright Pablo, I need to assassinate your wife&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Anyway what's this guy talking about why is he more bald than I am?&quot;
			p(class='author') - Ryan 2016
			p(class='quote') &quot;It's always Anecdote Hour in the United States Congress, you fool.&quot;
			p(class='author') -Ryan 2016
			p(class='quote') &quot;Shut up addison i meant beaners!!&quot;
			p(class='author') -Hali 2016
			p(class='quote') &quot;I grew up around niggers.&quot;
			p(class='author') - Hali 2016
			p(class='quote') &quot;My family runs around and sounds like a sex dungeon all the time.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I took a game off Jakkob.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I love it when you talk about your ass, Gary.&quot;
			p(class='author') - William 2016
			p(class='quote') &quot;You know what's hard? My penis&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;I like it in the butt&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I never played a sound instrument&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;Time to use that funky beat&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;There was a time long ago when I was really good with Fox.&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;The reason that I'm think I'm good at this game is because I play support.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I feel bad now. It was like ripping off a puppy's tail because I thought it was an admin.&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;That BallSack Billy is Gary.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;gary u r bad&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;It doesn't take that long to rape someone. I would know.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Now I'm fuckin' black&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Oooooh man. I'm so fucking blue&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;The Holocaust is infinite&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;yer a faggot loss&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Nintendo's not fucking retarded.&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;FUCK THAT PENIS UP&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Everything about you is smelly and weird&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;pussy drill rockets&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I am a fucking doctor. I am not playing.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I have evolved beyond William&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;they should regulate people with your shit views&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;I almost choked on my own laugh&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;When you get rejected, you don't quit. You keep on bitching.&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;I don't have any chest hair.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;its normal to be retarted as well&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;I fuckin' train doctors! Fuck your shit!&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I played so much Supreme Commander that Cain sucked my dick.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;League is life&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;His bloodline needs to be bleached&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;If it's not the woman moaning it's Jakkob bitching in his room&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;my standards are supremely fucking low&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;I'm gonna have to expand my hot dogs&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I like little girls&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;STOP LAUGHING HOLY SHIT!&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I am worth three Franks.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;He choked his chicken to death.&quot;
			p(class='author') -Ryan 2016
			p(class='quote') &quot;If only we could end these petty conflicts.&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;Why am I in Silver?&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Fuck Comcast, fuck these people.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Raul studies the meta&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Ryan picks... he picks either picks troll picks or counterpicks.&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;He just finished right in front of my face&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Davis is OP&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;You better not drop your penis or it's going to fly out to nowhere.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;There are people that exist to buttfuck me.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I mainly called these 37 people to talk to Pablo&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;thechappa is so bad that I'd rather play with Gary.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;You can't say no if you're dead&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;We died for your sins pablo.&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;Anyone know how to make a good meal out of cat meat?&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;I kinda want to be more than Hitler&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;nothing can outsmart Infrared beams&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;I'm going to cut off your dick and make you eat it.&quot;
			p(class='author') -Gary 2:7
			p(class='quote') &quot;That was some goodass chicken. I would've fucked that chicken&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I didn't know what good games were when I was a kid because my parents bought me a Game Boy Color but not Pokemon&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I was bitching because I was right&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Fapping is where you furiously rub your penis until it cries.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;That's right, you shouldn't have trusted me.&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;I'm a gold-digger.  Not a catfish.&quot;
			p(class='author') - Elijah 2016
			p(class='quote') &quot;If only William listened to Ryan more.&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;i sabotaged william&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;I don't attack people for no reason&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;please excuse me while i measure the size of two dicks to one&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm the host with the most&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;Smaller is better&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Only you can tell that for yourself&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;He shot me in the heart I think he got a crit for that or something.&quot;
			p(class='author') -Gary 2:6
			p(class='quote') &quot;Shit nigga&quot;
			p(class='author') -Gary 2:5
			p(class='quote') &quot;I don't actually even have a ball sack though.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;My guaranteed death strat isn't working.&quot;
			p(class='author') -Gary 2:4
			p(class='quote') &quot;Oh Danny. I remember accidentally getting that guy expelled.&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;I want Ryan&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;It's a good thing I have the stamina of fucking God.&quot;
			p(class='author') -Gary 2:3
			p(class='quote') &quot;Those pecs look like tits&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;I just want to have meaningful sex with Frank.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;We already lost because Frank is on our team.&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;Dark Souls 3 got boring after Ray quit, and he quit because he's bad at the game.&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;I haven't actually seen Cory in the House.&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;Faker could carry me.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Six fucking fireballs just came down from the heavens. They're wrecking my shit.&quot;
			p(class='author') -Gary 2:1-2
			p(class='quote') &quot;I am obviously a bitch&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;He was playing League for so long today that he went from Plat 2 to Plat 5.&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;I don't think girls can get boners.&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;2011 I was six.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;It's hashtag worth&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;eww asian girls&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;That's how I am who I am. I grew up with Sonic.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I literally shit $500 on fast food every month.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Enjoy the rape&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;Spiders walk under walls, bitch!&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;I think Ryan is better than me&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;What was I supposed to do? Unstick it inside of me?&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;I would like to be smelled&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;What's this stuff about inviting? I usually brute force my way in.&quot;
			p(class='author') -Machete 2016
			p(class='quote') &quot;I'm not bad.&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;I could probably fit 9 bodies in that truck.&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;Hitler has everything I want&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Hitler is a better painter than me&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;We're being an idiot&quot;
			p(class='author') -Machete 2016
			p(class='quote') &quot;I'm as smart as doctors&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm 1/9th orc.&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;I've done nothing but suck these peoples' dicks and they still don't like me&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Frank what is your favorite position?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;One of them fucks me right away and one fucks me slowly. I'd rather be fucked slowly&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;I don't think you've seen enough pussy to know what a pussy looks like.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;He is more successful with his finger than you are with your dick.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;You better not put me in the same room as Ryan&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Davis I hate you because you're not good.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Ryan you are good and I hate you for it.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Bryce sucks my dick&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm pretty sure it's not illegal to have the porn. I've looked it up before&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;Can someone link me to Facebook?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm pretty sure I would pay money to see Frank in a skirt.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I don't need you to make me great&quot;
			p(class='author') -Shin 2016
			p(class='quote') &quot;If I was a girl I would do porn&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;I spent all of my money on Twilight Princess HD&quot;
			p(class='author') -Oliver 2016
			p(class='quote') &quot;Gary sucks my dick all day&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I will rip the shit out of his ass&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;S H U T  T H E  F U C K  U P!!!&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;Davis, do you like tanks because they look like an erect robot penis?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;i'm a bana&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;It's the Double Team Trick Swap&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I've seen your mom force you to eat Hot Pockets.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I went to the bathroom and forgot that I left my pickles in there.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;You can't say you're good. You had infinite money and you're in debt&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;I need to make a bunch of kids, Pablo&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Frank I'd invite you to an orgy&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I wouldn't invite William to an orgy. I don't want any more pale white guys.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;hey wozard are you single?&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I see one girl with big boobs. That happens in real life&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;I know you all do it but I'm better than all of you&quot;
			p(class='author') -Addison 2016
			p(class='quote') &quot;Great, I'm full of fucking lubricant.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;On a scale from 1 to 10, he's about a 13.&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;I thought Greece and Rome were the same thing&quot;
			p(class='author') -Elijah 2016
			p(class='quote') &quot;Shotgun shells cannot be used as ammo for pistols&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Pablo cooked up a shitstorm in his pot belly. Then he vomited all over my capitol.&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Oh yes. Gary is the greatest&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Frank sucks my dick for breakfast&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Holy fuckshit there's so many assets&quot;
			p(class='author') -Gary 2016
			p(class='quote') &quot;Gary's good at one position&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;I literally have this gigantic screen and I'm looking at her ass.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'm pretty sure you don't need to be awake for surgery.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;League's not a good game&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;Mel fucked me up&quot;
			p(class='author') -Machete 2016
			p(class='quote') &quot;Harm is a fucking god&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Sometimes my team will carry without me&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Why do you own the new champion? You're not even good at the old champions.&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;you calling yaoi garbage triggers me&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I'd be an excellent emperor&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;My Fox is garbage&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;Be mad at Gary&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;Get out of here cat, mother fucker&quot;
			p(class='author') -Zack 2016
			p(class='quote') &quot;White girls are the future&quot;
			p(class='author') -Frank 2016
			p(class='quote') &quot;I don't think Jakkob's crazy anymore&quot;
			p(class='author') -Pablo 2016
			p(class='quote') &quot;treat that nigga equally&quot;
			p(class='author') -Ray 2016
			p(class='quote') &quot;the UN is literally ryan&quot;
			p(class='author') -Davis 2016
			p(class='quote') &quot;I record myself doing it so I can watch it when I don't have tampons.&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;which means someone is going to have to sleep inside ray&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;When I walk to work, my eyes freeze&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;dick people&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;2 liter pizza&quot;
			p(class='author') -William 2016
			p(class='quote') &quot;I don't really care about you&quot;
			p(class='author') -Machete 2016
			p(class='quote') &quot;Java's awesome&quot;
			p(class='author') -Addison 2015
			p(class='quote') &quot;He straight up looked at my penis and told me it was small.&quot;
			p(class='author') -Addison 2015
			p(class='quote') &quot;Do you want to hear Gary fap at 4am? I have.&quot;
			p(class='author') -Frank 2015
			p(class='quote') &quot;Ryan's got that dankness&quot;
			p(class='author') -Frank 2015
			p(class='quote') &quot;I'm looking for some innocent virgin&quot;
			p(class='author') -Addison 2015
			p(class='quote') &quot;He's a nice guy in real life but once he's on the internet he's a whole different Frank&quot;
			p(class='author') -Davis 2015
			p(class='quote') &quot;I don't need self-help hour anymore. I'm a new man now&quot;
			p(class='author') -Gary 2015
			p(class='quote') &quot;It takes a lot of energy to fuck a bitch&quot;
			p(class='author') -Frank 2015
			p(class='quote') &quot;I like ropes&quot;
			p(class='author') -Ryan 2015
			p(class='quote') &quot;I don't think Sheik has a move that isn't good&quot;
			p(class='author') -Ryan 2015
			p(class='quote') &quot;They're asking me what I'm really good at and I wanna put Super Smash Bros Melee&quot;
			p(class='author') -Gary 2015
			p(class='quote') &quot;should have kept frank on a leash&quot;
			p(class='author') -Davis 2015
			p(class='quote') &quot;Why does that guy need an umbrella unless he's gonna shove it up his butt?&quot;
			p(class='author') -William 2015
			p(class='quote') &quot;I forgot Mexican names&quot;
			p(class='author') -William 2015
			p(class='quote') &quot;Gary can't get it in&quot;
			p(class='author') -Frank 2015
			p(class='quote') &quot;How does it feel knowing that I was inside a girl that is better than you at League?&quot;
			p(class='author') -Frank 2015
			p(class='quote') &quot;Your childhood was a bad game&quot;
			p(class='author') -Addison 2015
			p(class='quote') &quot;I'm roastin' some bitches&quot;
			p(class='author') -Davis 2015
			p(class='quote') &quot;I deliver&quot;
			p(class='author') -Oliver 2015
			p(class='quote') &quot;I own the floppy disk for that game&quot;
			p(class='author') -Davis 2015