p {
	text-align: center;
}

p.author {
	color: #868f9e;
	font-size: 18px;
	font-style: italic;
	margin-top: 6px;
}

p.quote {
	color: #23262b;
	font-size: 36px;
	font-family: sans-serif;
	margin-bottom: 6px;
	margin-top: 36px;
}
